html {
	font-family: SF Pro Text;
}

.body {
	margin: 0 auto;
	height: 5000px;
	max-width: 1440px;
	background-color: #fffee6;
}

.body_container {
	margin: 0 auto;
	max-width: 1245px;
}

.header {
	margin: 0 auto;
	height: 126px;
	border-bottom: 1px solid #c4cdd5;
}

.header_container {
	margin-top: 10px;
	display: grid;
	grid-template-columns: 21% 50% 49%;
}

.header_contacts_a {}

.header_contacts {

	display: grid;
	grid-template-columns: 42% 5% 5%;
	gap: 10px;


}

.img_icons_header {
	width: 20px;
	height: 20px;
}

.header_ul {
	width: 502px;
}

.header_a {
	margin: 10px;
}

.text_h1 {

	height: 90px;
	padding: 10px 0px;
}

.text_a {}

.text_a_2 {
	display: none;
}

.text_h3 {
	font-family: SF Pro Text;
	font-weight: 600;
	font-size: 28px;

	height: 42px;
}

.button {
	width: 288px;
	height: 40px;
	border-width: 1px;
	gap: 100px;
}

.catalog {
	padding: 15px 0px;
	height: 2074px;
	gap: 20px;

}

.filter_block {
	height: 892px;
	width: 78%;
	display: grid;
	gap: 12px;
	grid-template-columns: 30% 122%;
}

.block {

	height: 40px;
	padding-bottom: 50px;
}

.filter_button_1 {
	border: 1px solid #c4cdd5;
	float: left;
	width: 288px;
	height: 40px;
	gap: 10px;
	background-color: #ffffff;
}

.filter_button_2 {
	border: 1px solid #c4cdd5;
	float: right;
	width: 288px;
	height: 40px;
	gap: 10px;
	background-color: #ffffff;
}


.filter {
	height: 940px;

	border: 1px solid #c4cdd5;
	float: left;
}

.product_cards {
	border: 1px solid #c4cdd5;

	/* width: 288px; */
	justify-content: center;
	/* height: 453px; */
}

.ceo_product_h3 {
	width: 605px;
	height: 42px;
	font-family: SF Pro Text;
	font-weight: 600;
	font-size: 32px;
	line-height: 42px;
	margin: 10px 0;
}

.text_p3 {
	font-size: 18px;
	width: 343px;
	height: 32px;
	line-height: 22px;
	display: inline;
	margin: 4px;
}

.filter_product_cards {
	display: grid;
	gap: 10px;
	grid-template-columns: 33.3% 33.3% 33.3%;
	border: 1px solid #c4cdd5;
	width: 78%;
	height: 1932px;

}



.p_text_pc {
	display: inline;
	margin: 5px;
}

.product_block {
	justify-content: center;
	width: 560px;
	height: 402px;
}

.product_block img {
	justify-content: center;
	width: 560px;
	height: 402px;
}

.input_text_pc {
	display: inline;
}

.p_pc {
	display: inline;
}

.ceo_product_text {
	font-family: SF Pro Text;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
}

.ceo_product {
	padding: 40px 0px;
	display: grid;
	grid-template-columns: 49% 49%;
	gap: 20px;
}

.ceo_product_mobile {
	display: none;
}



.footer {
	padding: 20px;
	display: grid;
	grid-row: 1;

	background-color: #0d2436;
	color: white;
	grid-template-columns: 20% 20%;
}

.footer_end {
	text-align: center;
	background-color: #0d2436;
	border-top: 1px solid black;
	color: white;
}

.footer_end_p {
	text-align: center;
	background-color: #0d2436;
	border-top: 1px solid black;
	color: white;
	font-size: 14px;

	opacity: 60%;

}

.filter_button_3 {
	display: none;
}

.footer_ul {
	width: 934px;
	height: 277px;
	gap: 65px;
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
}

.footer_logo_img {
	padding: 20px;
	margin: 20px;
}

.footer_logo_img_2 {
	padding: 20px;
	margin: 20px;
}

.footer_logo {
	/* width: 186px; */
}

.ul_text {
	width: 518px;
	height: 52px;
	font-family: SF Pro Text;
	font-weight: 400;
	font-size: 16px;
	display: inline-grid;
}

.footer_ul_ul {
	width: 139px;
	height: 204px;
	gap: 24px;
}

.ul_text_pc {
	display: grid;
	grid-template-columns: 50% 50%;
}

.footer_ul_h2 {
	display: none;
}

.ul_h3 {
	font-family: SF Pro Text;
	font-weight: 600;
	font-size: 44px;
	padding: 30px 0px;
}

.ul {
	text-align: center;
	padding: 20px 0px;
}

.ul_input {
	width: 240px;
	height: 50px;
	background-color: #161C240A;
}

.ul_button {
	color: white;
	width: 220px;
	height: 50px;
	background-color: #78dbe2;
}

.ul_forms {
	padding: 30px 0px;
	display: grid;
	grid-template-columns: 18% 18% 18%;
	justify-content: center;
	gap: 30px;
}

.viewing_history_carts {
	display: grid;
	gap: 20px;
}

.history_carts {
	width: 288px;
	height: 426px;
	display: grid;
	grid-row: 1;
	border: 1px solid #c4cdd5;
}

.footer_ul_a {
	font-size: 16px;
	opacity: 60%;
}

.burger_header {
	display: none;
}

.viewing_history_text {
	font-family: SF Pro Text;
	font-weight: 600;
	font-size: 44px;
	padding: 20px 0px;
}

.header_burger {
	display: none;
}

.mobile_btn {
	display: none;
}





@media (max-width: 576px) {}

@media (max-width: 992px) {
	.filter_block {
		height: 892px;
		width: 78%;
		display: grid;
		gap: 15px;
		grid-template-columns: 30% 122%;
	}

	.filter {
		height: 940px;
		border: 1px solid #c4cdd5;
		float: left;
	}

	.product_cards {
		border: 1px solid #c4cdd5;
		justify-content: center;

	}

	.filter_product_cards {
		display: grid;
		gap: 8px;
		grid-template-columns: 50% 50%;
		border: 1px solid #c4cdd5;
		width: 78%;
		height: 1932px;

	}

	.ceo_product {
		justify-content: center;
		place-items: center;
		display: grid;
		grid-template-columns: 75%;
	}

	.mobile_btn {
		display: none;
	}

	.ceo_product_mobile {
		display: none;
	}

	.ul_input {
		justify-content: center;
		width: 350px;
		height: 50px;
		background-color: #161C240A;
	}

	.ul_button {

		justify-content: center;
		color: white;
		width: 350px;
		height: 50px;
		background-color: #78dbe2;
	}

	.product_block {
		place-items: center;
		justify-content: center;
	}

	.ul_forms {
		place-items: center;
		grid-template-columns: 50%;
		height: 250px;
		display: grid;
		justify-content: center;
	}


	.viewing_history_carts {
		padding: 0 10px;
		display: grid;
		overflow: scroll;
		scroll-snap-align: start;
		gap: 20px;
	}

	.ceo_product_h3 {
		justify-content: center;
		width: 560px;
		height: 42px;
		font-family: SF Pro Text;
		font-weight: 600;
		font-size: 32px;
		line-height: 42px;

	}

	.footer {
		height: 583px;


		background-color: #0d2436;
		color: white;
	}



	.footer_end {
		text-align: center;
		background-color: #0d2436;
		border-top: 1px solid black;
		color: white;
	}

	.footer_end_p {
		font-size: 12px;
		text-align: center;
		background-color: #0d2436;
		border-top: 1px solid grey;
		color: white;
		opacity: 60%;
	}

	.footer_ul {
		width: 800px;
		height: 400px;
		gap: 5px;
		display: grid;
		grid-template-columns: 50% 50%;

		position: relative;
		top: 150px;
		right: 100px;
		place-items: center;
	}

	.footer_logo_img {
		width: 60px;
		height: 57px;
		padding: 0;
		margin: 0;
	}

	.footer_logo_img_2 {
		padding: 0px;
		margin: 0px;
		width: 120px;
		height: 25px;
		top: 20px;
		position: relative;
	}

	.footer_logo {

		justify-content: space-between;
		position: relative;

		top: 16px;
		width: 750px;
		height: 57px;
		display: grid;
		grid-template-columns: 50% 50%;
		position: relative;
		place-items: center;

	}

	.footer_logo_1 {
		width: 150px;
	}

	.footer_logo_2 {

		width: 150px;

	}


	.footer_ul_ul {
		width: 180px;
		height: 200px;
		gap: 10px;
	}

	.footer_ul_h2 {
		display: block;
	}

	.footer_ul_h3 {
		display: none;
	}

	.footer_ul_a {
		font-size: 16px;
		opacity: 60%;
	}

	.footer_ul_h1 {
		font-size: 18px;

	}




}

@media (max-width: 760px) {

	.header_container {}

	.burger_header {
		justify-content: center;
		display: block;
		width: 100%;
		border-bottom: 1px solid grey;
	}

	.container {
		display: block;
		justify-content: center;
		border: none;
		height: 106px;
		margin: 0 auto;
	}



	.box {
		display: flex;
		height: 80px;
		justify-content: center;
	}

	.box_ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: fixed;
		width: 100%;
		top: 106px;
		left: -100%;
		right: 0;
		height: 100vh;
		background-color: white;
		z-index: 10;
		transition: left 1s;

	}

	.box_namber_img {
		display: inline;
		padding: 3px;
	}

	.box_li {
		justify-content: center;
		display: block;
		border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
		z-index: 10;

	}

	.box_a {
		font-family: SF Pro Text;
		display: block;
		color: #000;
		font-size: 16px;
		width: 343px;
		height: 42px;
	}

	.box_ul_ul {
		width: 343px;
		height: 216px;
		margin: 20px 16px;
	}

	.box_namber {
		display: flex;
		width: 343px;
		height: 26px;
		top: 265px;
		position: relative;
		margin: 0px 16px;
		justify-content: space-between;
	}

	.box_logo_img {
		display: flex;
		gap: 10px;
		height: 24px;
		position: absolute;
		top: 60px;
		right: 55px;
	}

	.box_img {
		display: block;
		width: 24px;
		height: 24px;
	}

	.mobile_btn {
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		left: 20px;
		top: 60px;
		position: absolute;
		cursor: pointer;
		z-index: 10;
	}

	.active {
		left: 0;
		display: block;
	}



	.body {
		margin: 0 auto;
		height: auto;

		background-color: #fffee6;
	}

	.body_container {
		margin: 0 auto;


	}



	.header_container {
		display: none;
	}

	.text_h1 {

		height: 26px;
		padding: 5px 0px;
		display: inline;
	}

	.text_a_1 {
		display: none;
	}

	.text_a_2 {
		display: inline;
		gap: 5px;
		margin: 16px;
	}



	.text_h3 {
		font-family: SF Pro Text;
		font-weight: 600;
		font-size: 16px;
		margin: 16px;
		height: 28px;
	}

	.button {

		height: 50px;
		border-width: 1px;
	}

	.catalog {
		padding: 0px 0px;
		height: 2664px;
	}



	.block {
		display: none;
	}



	.filter_button_3 {
		display: block;
		border: 1px solid #c4cdd5;
		justify-content: center;
		width: 343px;
		height: 50px;
		margin: 16px;
		color: white;
		background-color: #4295E4;
	}

	.filter {
		display: none;
	}

	.product_cards {

		display: block;
		border: 1px solid #c4cdd5;
		margin-top: 5px;
		width: 343px;
		height: 422px;

	}

	.ceo_product {
		display: none;
	}

	.ceo_product_h3 {

		height: 42px;
		font-family: SF Pro Text;
		font-weight: 600;
		font-size: 32px;
		line-height: 42px;
	}

	.filter_block {
		display: block;
		height: 2600px;
		width: 373px;
		justify-content: center;
		margin: 0;
		position: relative;
	}

	.filter_product_cards {
		display: block;

		border: 1px solid #c4cdd5;
		width: 343px;
		margin: 15px;
		height: 2600px;



	}

	.product_block {
		justify-content: center;

	}

	.product_block img {
		justify-content: center;
		height: 402px;
	}

	.ceo_product_text {
		font-family: SF Pro Text;
		font-weight: 400;
		font-size: 18px;
		line-height: 32px;
	}

	.ceo_product {
		display: none;
	}

	.ceo_product_mobile {
		display: block;
		margin: 20px 10px;
	}

	.footer {
		height: 583px;
		/* width: 375px; */

		background-color: #0d2436;
		color: white;
	}



	.footer_end {
		text-align: center;
		background-color: #0d2436;
		border-top: 1px solid black;
		color: white;
	}

	.footer_end_p {
		font-size: 12px;
		text-align: center;
		background-color: #0d2436;
		border-top: 1px solid grey;
		color: white;
		opacity: 60%;
	}

	.footer_ul {
		width: 343px;
		height: 400px;
		gap: 4px;
		display: grid;
		grid-template-columns: 50% 50%;
		position: relative;
		top: 150px;
		right: 60px;
	}

	.footer_logo_img {
		width: 60px;
		height: 57px;
		padding: 0;
		margin: 0;
	}

	.footer_logo_img_2 {
		padding: 0px;
		margin: 0px;
		width: 120px;
		height: 25px;
		top: 20px;
		position: relative;
	}

	.footer_logo {


		width: 343px;
		height: 57px;
		display: grid;
		justify-content: space-between;
		position: relative;
		top: 16px;
		/* gap: 140px; */

	}



	.footer_ul_ul {
		width: 140 px;
		height: 200px;
		gap: 10px;
	}

	.footer_ul_h2 {
		display: block;
	}

	.footer_ul_h3 {
		display: none;
	}

	.footer_ul_a {
		font-size: 12px;
		opacity: 60%;
	}

	.ul_text {
		width: 343px;
		height: 72px;
		font-family: SF Pro Text;
		line-height: 24px;
		font-weight: 400;
		font-size: 14px;
	}



	.text_p3 {
		font-size: 12px;

		height: 32px;
		line-height: 22px;
		display: inline;
		margin: 4px;
	}

	.ul_h3 {
		position: relative;
		left: 71px;
		bottom: 10px;
		text-align: center;
		font-family: SF Pro Text;

		font-weight: 600;
		font-size: 22px;
		line-height: 34px;
		width: 233px;
		height: 34px;
	}

	.ul {

		height: 400px;
		background-color: #f2f8ff;
	}

	.ul_input {
		margin: 5px 0px;
		width: 343px;
		height: 50px;
		background-color: #161C240A;
	}

	.ul_button {
		margin: 5px 0px;
		color: white;
		width: 343px;
		height: 50px;
		background-color: #78dbe2;
	}

	.ul_forms {
		margin: 0px 15px;
		padding: 0;
		height: 190px;
		display: block;
		justify-content: center;
	}



	.ul_text_mobile {
		display: grid;
		width: 343px;
		height: 140px;
		padding: 5px 0px;
	}

	.p_text_mobile {
		display: inline;
	}

	.li_text_mobile {
		display: inline;
		width: 171px;
		height: 26px;
		padding: 5px 0px;
	}

	.input_mobile {
		display: inline;
		width: 14px;
		height: 12px;
		padding: 5px 0px;
	}

	.ceo_product_h3_mobile {
		font-size: 16px;
		line-height: 26px;
		font-weight: 600;
		padding: 5px 0px;
	}

	.product_block_mobile {
		padding: 5px 0px;
	}

	.ceo_product_text_mobile {
		font-size: 14px;
		line-height: 24px;
		padding: 5px 0px;
	}

	.viewing_history_carts {
		padding: 0 10px;
		display: grid;
		overflow: scroll;
		scroll-snap-align: start;
		gap: 20px;
	}



	.history_carts {

		height: 426px;

		border: 1px solid #c4cdd5;
	}

	.box_img {
		width: 24px;
		height: 24px;
	}

	.viewing_history_text {
		font-family: SF Pro Text;
		font-weight: 600;
		font-size: 16px;
		margin: 16px;
		padding: 0;
	}

	.header_burger {
		display: block;
	}





}