.description_button {}

.container_description {
    margin: 0px 20px;
    margin: 0 auto;
    max-width: 1240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.description_1 {
    width: 605px;
    height: 370px;
    opacity: 1;
    gap: 20px;
}

.description_button {
    border: none;
    background: white;
    margin: 0px 5px;
    font-family: SF Pro Text;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.description_2 {
    width: 605px;
    height: 290px;
    opacity: 1;
    gap: 20px;
}

.container_button {

    margin: 20px auto;
    max-width: 1240px;
}

.description_button {
  
    transition: all 0.3s ease;
}

.description_button.active {

    
    border-bottom: 1px solid #0e34f6;
}